*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    background-color: black;
    font-family:  'Helvetica Neue',Segoe UI,Roboto,Ubuntu,sans-serif;}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px;
    z-index: 5;
    position: absolute;
    width: 100%;
}
header a.logo{
    display: block;
}
header .logo svg{
    fill: rgb(229,9,20);
    height: 37px;

}
header div+div{
    text-align: right;
    
}
 header a.button1{
    display: inline-block;
    background-color:rgb(229,9,20);
    color: #fff;
    padding: 7px 17px;
    text-decoration: none;
    border-radius: 3px;
}
header select{
    background-color: transparent;
    color: #fff;
    padding: 7px 17px;
    border-radius: 3px;
}
header .select1{
    display: inline-block;
    margin-right: 30px;
}

header div.select1 svg{
    height: 20px;
    color: #fff;
    position: absolute;
    margin-top: 5px;
    margin-left: 6px;

}
div.splash {
    position: relative;
}
div.splash div.lenear{
     background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    inset:0;
}
div.splash div.background img{
    max-width: 100%;
    opacity: 0.6;
}
div.splash div.content{
    
    max-width: 1055px;
    position: absolute;
    inset: 0;
    left: 50%;
    display: grid;
    margin-left: -525px;
    align-items: center;
    text-align: center;
    /* margin-top: 100px; */
}
div.splash h1{
    font-size: 3rem;
    font-weight: 900;

}
div.splash h2{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.5rem;

}
div.splash h3{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 4rem;
}
.splash form{
    position: relative;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
}
div.splash input{
    padding: 15px 10px;
    font-size: 1.5rem;
    width: 350px;
    margin-left: 240px;
    background: 10%;
    border-style: solid;
    border-width: 1px;
    border-color:#fcf9f9;
    border-radius: 4px;
}
div.splash input ~ span{
    position: absolute;
    color: #aaa;
    left: 12px;
    top: 19px;
    left: 250px;
    z-index: 3px;
    transition: all 0.15s ease;
    pointer-events: none;
}
div.splash input:focus{
    padding-top: 19px;
    padding-bottom: 11px;
}

div.splash input:focus ~ span{
    top: 2px;
    font-size: .8rem;
}
div.splash button{
    font-size: 1.625rem;
    padding: 16.5px 26px;
    background-color:rgb(229,9,20) ;
    color: #fff;
    border: 0px;
    border-radius: 4px;
    margin-left: -220px;

}
